<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:fragment="common-head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.css}"
        />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css}">
        <!--
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}"/>
        -->
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js/}"></script>
        <script type="text/javascript" th:src="@{/webjars/jQuery-Autocomplete/1.2.7/jquery.autocomplete.min.js}"></script>
        <!--
        <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.min.js}"></script>
        -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js}"></script>
    </th:block>
</head>

<body>
    <header th:fragment="header-main">
        <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand justify-content-start" href="/" th:href="@{/}">
                <img th:src="@{/img/logo.png}" />
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-right ml-auto" sec:authorize="!isFullyAuthenticated()">
                    <li class="nav-item my-2">
                        <a class="nav-link" href="/signup" th:href="@{/signup}">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" th:href="@{/login}">
                            <button class="btn btn-success">Login</button>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right ml-auto" sec:authorize="isFullyAuthenticated()">
                    <li class="nav-item nav-link my-2" sec:authorize="hasAuthority('ADMIN')">
                        Olá
                        <a th:href="@{/admin/home}">
                            <span sec:authentication="name" style="color: chartreuse"></span>
                        </a>!
                    </li>
                    <li class="nav-item nav-link my-2" sec:authorize="hasAuthority('USER')">
                        Olá
                        <a th:href="@{/admin/home}"></a>
                        <span sec:authentication="name" style="color: chartreuse">
                            <a href="@{/}"></a>
                        </span>!
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link" href="/logout" th:href="@{/logout}">Sair</a>
                        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                    </li>
                </ul>
            </div>

            <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    <header th:fragment="header-basic">
        <nav class="navbar justify-content-center navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/" th:href="@{/}">
                <img th:src="@{/img/logo.png}" />
            </a>
        </nav>
    </header>

    <header th:fragment="header-result">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/" th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item-active px-5">
                        <form class="form-inline my-2 my-md-0">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <select class="custom-select" id="sel1">
                                        <!-- Podemos tirar isso mas vai ficar difícil pra caramba de fazer consulta -->
                                        <option>Banda</option>
                                        <option>Álbum</option>
                                        <option>Versão</option>
                                        <option>Gravadora</option>
                                    </select>
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item my-2">
                        <a class="nav-link" th:href="@{/signup}">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">
                            <button class="btn btn-success">Login</button>
                        </a>
                    </li>
                </ul>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    <div class="container-fluid" th:fragment="carousel">
        <div id="advertisement" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#advertisement" data-slide-to="0" class="active"></li>
                <li data-target="#advertisement" data-slide-to="1"></li>
                <li data-target="#advertisement" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner" style="background-color: black">
                <div class="carousel-item active">
                    <img th:src="@{img/banner/Wesley.png}" class="d-block mx-auto" alt="São legais mesmo">
                </div>
                <div class="carousel-item">
                    <img th:src="@{img/banner/Alexandre.png}" class="d-block mx-auto" alt="Vai por mim">
                </div>
                <div class="carousel-item">
                    <img th:src="@{img/banner/Thiaguinho.png}" class="d-block mx-auto" alt="Pode confiar">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#advertisement" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#advertisement" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <aside th:fragment="aside">
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-times"></i>
            </div>

            <div class="sidebar-header">
                <h3>Filtros</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="nav-item py-3" id="onSaleStatus-item">
                    <a href="#onSaleStatus-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <h4 class="text-center">Promoção</h4>
                    </a>
                    <div class="collapse list-unstyled" id="onSaleStatus-menu">
                        <div class="list-group list-group-flush" id="onSaleStatus">
                            <a id="onSaleStatus" class="list-group-item list-group-item-action" th:onclick="|updateFilter(this, 'onSaleStatus', '@{/}')|"
                                th:value="true">Sim</a>
                            <a id="onSaleStatus" class="list-group-item list-group-item-action" th:onclick="|updateFilter(this, 'onSaleStatus', '@{/}')|"
                                th:value="false">Não</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item py-3" id="genre-item">
                    <a href="#genre-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <h4 class="text-center">Gênero</h4>
                    </a>
                    <div class="collapse list-unstyled" id="genre-menu">
                        <div class="list-group list-group-flush" id="genre">
                            <th:block th:each="genre, stat : ${genres}" th:unless="${stat.index > 5}">
                                <a id="album.genre" class="list-group-item list-group-item-action" th:onclick="|updateFilter(this, 'genre', '@{/}')|" th:value="${genre.item}"
                                    th:text="${genre.item}"></a>
                            </th:block>
                            <a class="list-group-item list-group-item-info" data-toggle="modal" data-target="#modal-genre">Todos</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item py-3" id="format-item">
                    <a href="#format-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <h4 class="text-center">Formato</h4>
                    </a>
                    <div class="collapse list-unstyled" id="format-menu">
                        <div class="list-group list-group-flush" id="format">
                            <th:block th:each="format, stat : ${formats}" th:unless="${stat.index > 5}">
                                <a id="format" class="list-group-item list-group-item-action" th:onclick="|updateFilter(this, 'format', '@{/}')|" th:value="${format.item}"
                                    th:text="${format.item}"></a>
                            </th:block>
                            <a class="list-group-item list-group-item-info" data-toggle="modal" data-target="#modal-format">Todos</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item py-3" id="album_country-item">
                    <a href="#album_country-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <h4 class="text-center">País</h4>
                    </a>
                    <div class="collapse list-unstyled" id="album_country-menu">
                        <div class="list-group list-group-flush" id="album_country">
                            <th:block th:each="country, stat : ${countries}" th:unless="${stat.index > 5}">
                                <a id="album_country" class="list-group-item list-group-item-action" th:onclick="|updateFilter(this, 'album_country', '@{/}')|"
                                    th:value="${country.item}" th:text="${country.item}"></a>
                            </th:block>
                            <a class="list-group-item list-group-item-info" data-toggle="modal" data-target="#modal-country">Todos</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item py-3" id="releaseDate-item">
                    <a href="#releaseDate-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <h4 class="text-center">Década</h4>
                    </a>
                    <div class="collapse list-unstyled" id="releaseDate-menu">
                        <div class="list-group list-group-flush" id="releaseDate">
                            <th:block th:each="decade, stat : ${decades}" th:unless="${stat.index > 5}">
                                <a id="releaseDate" class="list-group-item list-group-item-action" th:onclick="|updateFilter(this, 'releaseDate', '@{/}')|"
                                    th:value="${decade}+'-01-01'" th:text="${decade}"></a>
                            </th:block>
                            <a class="list-group-item list-group-item-info" data-toggle="modal" data-target="#modal-decade">Todos</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item py-3" id="album_rating-item">
                    <a href="#album_rating-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <h4 class="text-center">Avaliação Mínima</h4>
                    </a>
                    <div class="collapse list-unstyled" id="album_rating-menu">
                        <div class="container-fluid" id="album_rating">
                            <div class="list-group list-group-flush" id="album_rating">
                                <a id="album_rating" th:onclick="|updateFilter(this, 'album_rating', '@{/}')|" class="list-group-item list-group-item-action">4</a>
                                <a id="album_rating" th:onclick="|updateFilter(this, 'album_rating', '@{/}')|" class="list-group-item list-group-item-action">3</a>
                                <a id="album_rating" th:onclick="|updateFilter(this, 'album_rating', '@{/}')|" class="list-group-item list-group-item-action">2</a>
                                <a id="album_rating" th:onclick="|updateFilter(this, 'album_rating', '@{/}')|" class="list-group-item list-group-item-action">1</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modal-genre" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Gênero</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group list-group-flush" th:each="genre, stat : ${genres}">
                            <a id="album.genre" class="list-group-item list-group-item-action" data-dismiss="modal" th:onclick="|updateFilter(this, 'genre', '@{/}')|"
                                th:value="${genre.item}" th:text="${genre.item}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-format" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Formato</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group list-group-flush" th:each="format, stat : ${formats}">
                            <a id="format" class="list-group-item list-group-item-action" data-dismiss="modal" th:onclick="|updateFilter(this, 'format', '@{/}')|"
                                th:value="${format.item}" th:text="${format.item}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-country" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">País</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group list-group-flush" th:each="country, stat : ${countries}">
                            <a id="album.country" class="list-group-item list-group-item-action" data-dismiss="modal" th:onclick="|updateFilter(this, 'album_country', '@{/}')|"
                                th:value="${country.item}" th:text="${country.item}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-decade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Década</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group list-group-flush" th:each="decade, stat : ${decades}">
                            <a id="decade" class="list-group-item list-group-item-action" th:onclick="|updateFilter(this, 'releaseDate', '@{/}')|" th:text="${decade}"
                                th:value="${decade}+'-01-01'"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <footer class="page-footer font-small blue pt-4 mt-4 bg-dark" th:fragment="footer">
        <div class="footer-copyright text-center">
            © 2018 Sahudyscos®
        </div>
    </footer>

</body>

</html>