.showbox {
    width: 12rem;
}

.link-boxes {
	text-decoration: none;
}

.link-boxes a:link {
	background-color: #400191;
}

footer {
    color: #f5f5f5;
	padding: 20px;
    bottom:0;
    width:100%;
}

h5.card-text{
    background-color: green;
     color: white;
}


div.card-header{
    background-color: darkslateblue;
}

.box-green{
	width:300px;
	height:100px;
	background-color:#666;
	border-radius: 10px;
}

.box-red{
	width:300px;
	height:100px;
	background-color:#666;
	border-radius: 10px;
}

.box-gray{
	width:300px;
	height:100px;
	background-color:#666;
	border-radius: 10px;
}

.box-white{
	width:300px;
	height:100px;
	background-color:#666;
	border-radius: 10px;
}

obrigatorio{
    color: red;
    font-size: small;
    font-style: italic;
}

.readonly {
	font-weight:bold;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; width: 300px !important;}
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; width: 300px; overflow: auto;font-size:12px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #3399FF; }

.little-box {
	float: left;
	width: 20px;
	height: 20px;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
  }
  
  .success-green {
	background: #c3e6cb;
  }
  
  .danger-red {
	background: #f5c6cb;
  }
  
  .warning-yellow {
	background: #ffeeba;
  }