<!DOCTYPE html>
<html lang="en">
<head>
    <title>Página Administrativa</title>
    <th:block th:replace="fragments/layout :: common-head">
    </th:block >
</head>
<body>
    <header th:replace="fragments/layout :: header-main">
    </header>

    <main class="container-fluid row">
        <!-- Menu de opções -->
        <main class="col-md-8 pt-3 row ml-2">

                <div class="col-xs-4 col-sm-4 col-md-3 my-2">
                    <div class="links-boxes card showbox" >
                         <a class="nav-item nav-link" href="/admin/user" th:href="@{/admin/user}">
                            <img class="card-img-top img-thumbnail" th:src="@{/img/icons/user.png}" alt="Card image cap" background-color ="green">
                            <h5 class="card-text text-center" >Usuários</h5>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-3 my-2">
                    <div class="links-boxes card showbox">
                         <a class="nav-item nav-link" href="/admin/artist" th:href="@{/admin/artist}">
                            <img class="card-img-top img-thumbnail" th:src="@{/img/icons/artist.png}" alt="Card image cap">
                            <h5 class="card-text text-center">Bandas</h5>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-3 my-2">
                    <div class="links-boxes card showbox">
                         <a class="nav-item nav-link" href="/admin/album" th:href="@{/admin/album}">
                            <img class="card-img-top img-thumbnail" th:src="@{/img/icons/album.png}" alt="Card image cap">
                            <h5 class=" card-text text-center">Álbuns</h5>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-3 my-2">
                    <div class="links-boxes card showbox">
                         <a class="nav-item nav-link" href="/admin/release" th:href="@{/admin/release}">
                            <img class="card-img-top img-thumbnail" th:src="@{/img/icons/release.png}" alt="Card image cap">
                            <h5 class="card-text  text-center">Versões</h5>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-3 my-2">
                    <div class="links-boxes card showbox">
                         <a class="nav-item nav-link" href="/admin/label" th:href="@{/admin/label}">
                            <img class="card-img-top img-thumbnail" th:src="@{/img/icons/label.png}" alt="Card image cap">
                            <h5 class="card-text  text-center">Gravadoras</h5>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-3 my-2">
                    <div class="links-boxes card showbox">
                        <a class="nav-item nav-link" href="/admin/contract" th:href="@{/admin/contract}">
                            <img class="card-img-top img-thumbnail" th:src="@{/img/icons/contract.png}" alt="Card image cap">
                            <h5 class="card-text  text-center">Contratos</h5>
                        </a>
                    </div>
                </div>
        </main>
        <!-- Menu de opções -->
       
        <!-- Menu de avisos-->
        <div class="col-md-4">
            <aside class="col-md-10 mt-4 mx-auto">
                <div>
                    
                </div>
                <div class="card text-white border border-dark bordermb-3">
                  <div class="card-header border-dark">Avisos</div>
                  <div class="card-body">
                    <p class="card-text text-dark">Estoque do cd X está baixo</p>
                  </div>
                </div>
            </aside>
        </div>
        <!-- Menu de avisos-->

    </main>

    <footer th:replace="fragments/layout :: footer">
    </footer>
</body>
</html>