<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sahudyscos</title>
    <div th:replace="fragments/layout :: common-head">
    </div>
    <script th:src="@{js/util.js}"></script>
</head>
<body>
    <header th:replace="fragments/layout :: header-main">
    </header>

    <div th:replace="fragments/layout :: carousel">
    </div>

    <main>
        <div class="container-fluid">
            <div class="row">
                <aside th:replace="fragments/layout :: aside">
                </aside>

                <section class="col-sm-12 col-md-10 py-3">
                    <ul class="nav nav-tabs" id="main-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="releases-tab" data-toggle="tab" href="#releases" role="tab" aria-controls="releases" aria-selected="false">Versões</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="albums-tab" data-toggle="tab" href="#albums" role="tab" aria-controls="albums" aria-selected="false">Álbuns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="labels-tab" data-toggle="tab" href="#labels" role="tab" aria-controls="labels" aria-selected="false">Gravadoras</a>
                        </li>
                        <li>
                             <form class="form-inline my-2 my-md-0">
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <select class="custom-select" id="sel1"> <!-- Podemos tirar isso mas vai ficar difícil pra caramba de fazer consulta -->
                                            <option>Banda</option>
                                            <option>Álbum</option>
                                            <option>Versão</option>
                                            <option>Gravadora</option>
                                            <option>País</option>
                                        </select>
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                
                    <div class="tab-content" id="main-tabs">

                        <div class="tab-pane fade show active" id="releases" role="tabpanel" aria-labelledby="releases-tab">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-3 my-1" th:each="release : ${releases}">
                                    <div class="card showbox">
                                        <a th:href="@{/release(id=__${release.id}__, album=__${release.album.id}__)}">
                                            <th:block th:unless="${release.album.cover}">
                                                <th:block th:switch="${release.format}">
                                                    <img th:case="'Cassette'" class="card-img-top img-thumbnail" th:onload="|changeReleaseCover(this, '${release.mbid}')|" th:src="@{/img/default/default-release-cassette.png}" th:alt="${release.album.name}">
                                                    <img th:case="'CD'" class="card-img-top img-thumbnail" th:onload="|changeReleaseCover(this, '${release.mbid}')|" th:src="@{/img/default/default-release-cd.png}" th:alt="${release.album.name}">
                                                    <img th:case="*" class="card-img-top img-thumbnail" th:onload="|changeReleaseCover(this, '${release.mbid}')|" th:src="@{/img/default/default-release.png}" th:alt="${release.album.name}">
                                                </th:block>
                                            </th:block>
                                            <th:block th:if="${release.album.cover}">
                                                <img class="card-img-top img-thumbnail" th:onload="|changeReleaseCover(this, '${release.mbid}')|" th:src="${release.cover}" th:alt="${release.album.name}">
                                            </th:block>
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title" th:each="artist : ${release.album.artists}"><a th:href="@{/artist(id=__${artist.id}__)}" th:text="${artist.name}">Wesley Safadão</a></h5>
                                            <p class="card-text"><a th:href="@{/release(id=__${release.id}__, album=__${release.album.id}__)}" th:text="${release.album.name}">Duetos</a> <button class="btn btn-sm float-right" th:classappend="${release.onSaleStatus} ? btn-outline-success : btn-outline-primary" th:text="'R$' + ${release.price}">R$90,00</button></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <select class="form-control pagination" id="pageSizeSelect">
                                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                            th:value="${pageSize}"
                                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                                    </select>
                                </div>
                                <div th:if="${releases.totalPages != 1}"
                                    class="form-group col-md-11 pagination-centered">
                                    <ul class="pagination">
                                        <li th:class="${releases.number == 0} ? 'page-item disabled' : 'page-item'"><a
                                            class="page-link"
                                            th:href="@{/#releases(size=${selectedPageSize}, page=1)}">&laquo;</a>
                                        </li>
                                        <li th:class="${releases.number == 0} ? 'page-item disabled' : 'page-item'"><a
                                            class="page-link"
                                            th:href="@{/#releases(size=${selectedPageSize}, page=${releases.number})}">&larr;</a>
                                        </li>
                                        <li
                                            th:class="${releases.number == page} ? 'page-item active pointer-disabled' : 'page-item'"
                                            th:each="page : ${#numbers.sequence(releasePager.startPage, releasePager.endPage)}">
                                            <a class="page-link"
                                            th:href="@{/#releases(size=${selectedPageSize}, page=${page})}"
                                            th:text="${page}"></a>
                                        </li>
                                        <li
                                            th:class="${releases.number + 1 == releases.totalPages} ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link"
                                            th:href="@{/#releases(size=${selectedPageSize}, page=${releases.number + 2})}">&rarr;</a>
                                        </li>
                                        <li
                                            th:class="${releases.number + 1 == releases.totalPages} ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link"
                                            th:href="@{/#releases(pageSize=${selectedPageSize}, page=${releases.totalPages})}">&raquo;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="albums" role="tabpanel" aria-labelledby="albums-tab">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-3 my-1" th:each="album : ${albums}">
                                    <div class="card showbox">
                                        <a th:href="@{/album(id=__${album.id}__)}">
                                            <img class="card-img-top img-thumbnail" th:onload="|changeAlbumCover(this, '${album.mbid}')|" th:src="@{/img/default/default-release.png}" th:alt="${album.name}">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title" th:each="artist : ${album.artists}"><a th:href="@{/artist(id=__${artist.id}__)}" th:text="${artist.name}">Wesley Safadão</a></h5>
                                            <p class="card-text"><a th:href="@{/album(id=__${album.id}__)}" th:text="${album.name}">Duetos</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <select class="form-control pagination" id="pageSizeSelect">
                                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                            th:value="${pageSize}"
                                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                                    </select>
                                </div>
                                <div th:if="${albums.totalPages != 1}"
                                    class="form-group col-md-11 pagination-centered">
                                    <ul class="pagination">
                                        <li th:class="${albums.number == 0} ? 'page-item disabled' : 'page-item'"><a
                                            class="page-link"
                                            th:href="@{/#albums(size=${selectedPageSize}, page=1)}">&laquo;</a>
                                        </li>
                                        <li th:class="${albums.number == 0} ? 'page-item disabled' : 'page-item'"><a
                                            class="page-link"
                                            th:href="@{/#albums(size=${selectedPageSize}, page=${albums.number})}">&larr;</a>
                                        </li>
                                        <li
                                            th:class="${albums.number == page} ? 'page-item active pointer-disabled' : 'page-item'"
                                            th:each="page : ${#numbers.sequence(albumPager.startPage, albumPager.endPage)}">
                                            <a class="page-link"
                                            th:href="@{/#albums(size=${selectedPageSize}, page=${page})}"
                                            th:text="${page}"></a>
                                        </li>
                                        <li
                                            th:class="${albums.number + 1 == albums.totalPages} ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link"
                                            th:href="@{/#albums(size=${selectedPageSize}, page=${albums.number + 2})}">&rarr;</a>
                                        </li>
                                        <li
                                            th:class="${albums.number + 1 == albums.totalPages} ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link"
                                            th:href="@{/#albums(pageSize=${selectedPageSize}, page=${albums.totalPages})}">&raquo;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="labels" role="tabpanel" aria-labelledby="labels-tab">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-3 my-1" th:each="label : ${labels}">
                                    <div class="card showbox">
                                        <a th:href="@{/label(id=__${label.id}__)}"><img class="card-img-top img-thumbnail" th:src="@{/img/default/default-label.png}" th:alt="${label.name}"></a>
                                        <div class="card-body">
                                            <h5 class="card-title"><a th:href="@{/label(id=__${label.id}__)}" th:text="${label.name}">Wesley Safadão</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <select class="form-control pagination" id="pageSizeSelect">
                                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                            th:value="${pageSize}"
                                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                                    </select>
                                </div>
                                <div th:if="${labels.totalPages != 1}"
                                    class="form-group col-md-11 pagination-centered">
                                    <ul class="pagination">
                                        <li th:class="${labels.number == 0} ? 'page-item disabled' : 'page-item'"><a
                                            class="page-link"
                                            th:href="@{/#label(size=${selectedPageSize}, page=1)}">&laquo;</a>
                                        </li>
                                        <li th:class="${labels.number == 0} ? 'page-item disabled' : 'page-item'"><a
                                            class="page-link"
                                            th:href="@{/#label(size=${selectedPageSize}, page=${labels.number})}">&larr;</a>
                                        </li>
                                        <li
                                            th:class="${labels.number == page} ? 'page-item active pointer-disabled' : 'page-item'"
                                            th:each="page : ${#numbers.sequence(labelPager.startPage, labelPager.endPage)}">
                                            <a class="page-link"
                                            th:href="@{label(size=${selectedPageSize}, page=${page})}"
                                            th:text="${page}"></a>
                                        </li>
                                        <li
                                            th:class="${labels.number + 1 == labels.totalPages} ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link"
                                            th:href="@{/#label(size=${selectedPageSize}, page=${labels.number + 2})}">&rarr;</a>
                                        </li>
                                        <li
                                            th:class="${labels.number + 1 == labels.totalPages} ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link"
                                            th:href="@{/#label(pageSize=${selectedPageSize}, page=${labels.totalPages})}">&raquo;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </section> 
            </div>
        </div>
    </main>

    <footer th:replace="fragments/layout :: footer">
    </footer>
</body>
</html>